{% extends 'main/base.html' %}
{% block content %}
  <p class="lead">
    Challenges catalog
  </p>
  {% for achievement in achievements %}
    <p>
      <a href="{% url 'achievement_show' achievement.id %}">{{ achievement }}</a>
    </p>
  {% endfor %}
  <div class="pagination">
    <div class="step_links">
      {% if achievements.has_previous %}
        <a href="?page={{ achievements.previous_page_number }}">
          {{ achievements.previous_page_number }}
        </a>
      {% endif %}
      <div class="current">
        Page {{ achievements.number }} of {{ achievements.paginator.num_pages }}.
      </div>

      {% if achievements.has_next %}
        <a href="?page={{ achievements.next_page_number }}">next</a>
      {% endif %}
    </div>
  </div>
{% endblock %}