{% extends 'main/base.html' %}
{% block content %}
  <p class="lead">
    {{ achievement }}
  </p>
  <p>
    {{ achievement.description }}
  </p>
  <form method="post" action="{% url 'achievement_accept' achievement.id %}">
    {% csrf_token %}
    <input type="submit" value="Accept challenge!" class="btn acid-green-button">
  </form>
{% endblock %}