<!DOCTYPE html>
<html>

<head>
	<title>Prove Your Skills</title>

  {% load staticfiles %}
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>

<body class="container">
{% block header %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a href="{% url 'home' %}" class="navbar-brand">
        <img src="http://media.steampowered.com/steamcommunity/public/images/apps/570/0bbb630d63262dd66d2fdd0f7d37e8661a410075.jpg">
        Prove Your Skills!
      </a>
    </div>
    <div class="pull-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'achievements'%}">Challenges</a>
        </li>
        {% if user.is_authenticated and not user.is_superuser %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ user.avatar_url }}">
            {{ user.personaname }} 
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'profile' user.username %}">
                My profile
              </a>
            </li>
            <li>
              <a href="{{ user.profile_url }}">
                Steam profile
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>        
        {% else %}
        <li>
          <a href="{% url 'login' %}">
            <img src="https://steamcommunity.com/public/images/signinthroughsteam/sits_small.png">
          </a>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="col-xs-6">
  {% for msg in messages %}
    <div {% if msg.tags == 'error' %} class="alert alert-danger" {% else %}class="alert alert-{{ msg.tags }}"{% endif %}>
      {{ msg }}
    </div>
  {% endfor %}
</div>
{% endblock %}
<div class="row">
	<div class="col-xs-8 content">
	{% block content %} 
	{% endblock %}
	</div>
  <div class="col-xs-4 right-panel">
  {% block right-panel %}
  {% endblock %}
  </div>
</div>

{% block footer %}
<footer>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <a href="http://steampowered.com" title="" target="_blank">
        <img alt="Powered by Steam" src="http://cdn.steamcommunity.com/public/images/header/globalheader_logo.png">
      </a>
      Dota 2 is a registered trademark of Valve Corporation. © 2014
    </div>
  </nav>
</footer>
{% endblock %}
</body>

</html>