{% extends 'main/base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-5">
    <p class="lead">Match {{ matchid }}</p>
  </div>
  <div class="col-xs-2">
    <p>Duration: </p>
    {{ duration.hours }}:{{ duration.minutes }}:{{ duration.seconds }}
  </div>
  <div class="col-xs-3">
    <p>Lobby type: </p>
    {{ details.lobby_type }}
  </div>
  <div class="col-xs-2">
    <p>Game mode: </p>
    {{ details.game_mode }}
  </div>
</div>
  
  {% if details.radiant_win %}
    <center>
      <p class="lead radiant">
        RADIANT VICTORY
      </p>
    </center>
  {% else%}
    <center>
      <p class="lead dire">
        DIRE VICTORY
      </p>
    </center>
  {% endif %}

  <table width="100%">
    <caption>
      <p class="radiant">
        THE RADIANT
      </p>
    </caption>
    <thead>
      <tr>
        <th>
          Hero
        </th>
        <th colspan="2">
          Player
        </th>
        <th>
          Level
        </th>
        <th>
          Kills
        </th>
        <th>
          Deaths
        </th>
        <th>
          Assists
        </th>
        <th>
          Gold spent
        </th>
        <th>
          Last hits
        </th>
        <th>
          Denies
        </th>
        <th>
          XPM
        </th>
        <th>
          GPM
        </th>
      </tr>
    </thead>
    <tbody>
      {% for player in players.radiant %}
        <tr>
          <td>
            <img src="{{ player.hero.GetImageURLsb }}"/>
          </td>
          <td style="overflow: hidden;">
            {{ player.personaname }}
          </td>
          <td>
            <img src="{{ player.avatar }}"/>
          </td>
          <td>
            {{ player.level }}
          </td>
          <td>
            {{ player.kills }}
          </td>
          <td>
            {{ player.deaths }}
          </td>
          <td>
            {{ player.assists }}
          </td>
          <td>
            {{ player.gold_spent }}
          </td>
          <td>
            {{ player.last_hits }}
          </td>
          <td>
            {{ player.denies }}
          </td>
          <td>
            {{ player.xp_per_min }}
          </td>
          <td>
            {{ player.gold_per_min }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table width="100%">
    <caption>
      <p class="dire">
        THE DIRE
      </p>
    </caption>
    <thead>
      <tr>
        <th>
          Hero
        </th>
        <th colspan="2">
          Player
        </th>
        <th>
          Level
        </th>
        <th>
          Kills
        </th>
        <th>
          Deaths
        </th>
        <th>
          Assists
        </th>
        <th>
          Gold spent
        </th>
        <th>
          Last hits
        </th>
        <th>
          Denies
        </th>
        <th>
          XPM
        </th>
        <th>
          GPM
        </th>
      </tr>
    </thead>
    <tbody>
      {% for player in players.dire %}
        <tr>
          <td>
            <img src="{{ player.hero.GetImageURLsb }}"/>
          </td>
          <td>
            {{ player.personaname }}
          </td>
          <td>
            <img src="{{ player.avatar }}"/>
          </td>
          <td>
            {{ player.level }}
          </td>
          <td>
            {{ player.kills }}
          </td>
          <td>
            {{ player.deaths }}
          </td>
          <td>
            {{ player.assists }}
          </td>
          <td>
            {{ player.gold_spent }}
          </td>
          <td>
            {{ player.last_hits }}
          </td>
          <td>
            {{ player.denies }}
          </td>
          <td>
            {{ player.xp_per_min }}
          </td>
          <td>
            {{ player.gold_per_min }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}