﻿{% extends 'main/base.html' %}
{% block content %}
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-2">
      <a href="{{ usr.profile_url }}">
        <img src="{{ usr.GetMediumAvatarUrl }}">
      </a>
    </div>
    <div class="col-md-3">
        <p class="lead">
          {{ usr.personaname }}
          {% if usr.realname != None %}
            ({{ usr.realname }})
          {% endif %}
        </p>
    </div>
    <div class="col-md-3">
      {% if usr.created_at != None %}
        <p>In Steam since </p>
        <p>{{ usr.created_at|date:"d.m.Y" }}</p>
      {% endif %}
    </div>
    <div class="col-md-3">
      {% if logged_in %}
      <a href="{% url 'profile_update' %}" class="btn btn-default btn-sm acid-green-button">
        Update profile
      </a>
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <p class="lead">
        Achievements:
      </p>
      {% for info in achievements_info %}
      <p>
        <a href="{% url 'achievement_show' info.0.id %}">
          {{ info.0 }}
        </a>
        <a href="{% url 'match_details' info.1.match_id%}" class="btn btn-default btn-sm acid-green-button">
          Match details
        </a>
      </p>
      <p>
        Unlocked at {{ info.1.reached_at|date:"d M Y" }}
      </p>
      {% endfor %}
      <div class="pagination">
        <div class="step_links">
          {% if achievements_info.has_previous %}
            <a href="?page={{ achievements_info.previous_page_number }}">
              {{ achievements_info.previous_page_number }}
            </a>
          {% endif %}
          <div class="current">
            Page {{ achievements_info.number }} of {{ achievements_info.paginator.num_pages }}.
          </div>

          {% if achievements_info.has_next %}
            <a href="?page={{ achievements_info.next_page_number }}">next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block right-panel %}
  <p class="lead">Last matches played:</p>
  <p style="color: red;">{{ error }}</p>
  <table width="100%" style="margin: 5px; background: #272727; border: 2px solid #272727;">
    <thead>
      <tr>
        <th colspan="2">
          Hero
        </th>
        <th>
          Match ID
        </th>
      </tr>
    </thead>
    <tbody>
    {% for match in match_data %}
      <tr>
        <td>
          <img src="{{ match.hero.GetImageURLsb }}">
        </td>
        <td class="acid-green-text">
          {{ match.hero.name }}
        </td>
        <td class="acid-green-text" style="padding-right: 10px;">
          {{ match.matchid }}
        </td>
        <td>
          <a href="{% url 'match_details' match.matchid %}" class="btn btn-sm acid-green-button">
            Match details
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p class="lead">
    Current challenge:
  </p>
  <p>
    {% if None != current_achievement %}
      <a href="{% url 'achievement_show' current_achievement.id %}">
        {{ current_achievement }}
      </a>
      {% if logged_in %}
        <a href="{% url 'achievement_accomplish' current_achievement.id %}" class="btn btn-sm acid-green-button">
          Accomplish challenge
        </a>
      {% endif %}
    {% endif %}
  </p>
{% endblock right-panel %}