body {
	color: #d9d9d9; 
	padding-bottom: 70px; 
	padding-top: 70px;
	background-color: #2C2C2C;
}

.content {
	background-color: #3A3A3A;
	margin-top: 10px;
}

.right-panel {
	background-color: #3A3A3A;
	margin-top: 10px;
}

footer {
	font-family: Consolas;
}

footer img {
	padding-top: 7px;
	height: 30px;
}

.acid-green-button {
	color: #fff; 
	background: #a4d007;
}

.acid-green-text {
	color: #a4d007;
}

.radiant {
	color: #92a525;
}

.dire {
	color: #c23c2a;
}